{% extends "base_generic.html" %}

{% block content %}
<h1>Головна сторінка</h1>
<p>
    Вітаємо на сайті <em>Світ Книг</em>, Це дуже простий веб-сайт, написаний на Джанго.
    Розроблений на Пайтон як приклад з використанням пайчарм
</p>
<h2>Динамічний контент</h2>
<p>
    База даних сайту Світ Книг містить наступну кількість записів
</p>
<ul>
    <li>Кількість книг:<strong>{{ num_books }}</strong></li>
    <li>Кількість екземпплярів книг:<strong>{{ num_instance }}</strong></li>
    <li>Кількість екземплярів книг в замовленні:<strong>{{ num_instance_available }}</strong></li>
    <li>Кількість авторів книг:<strong>{{ num_authors }}</strong></li>
</ul>
<p>Кількість відвідень цієї сторніки - {{ num_visits}}</p>
{% endblock %}